<div class="n">
  
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <a class="navbar-brand" routerLink="" routerLinkActive="active" style="font-weight:bolder;">Market</a>
  <button class="navbar-toggler" (click)="togglenavbar()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse na " [class.show]="isopen" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active l">
        <a class="nav-link"  routerLink="" routerLinkActive="active" >Home  </a>
      </li>
      <li class="nav-item l">
        <a class="nav-link"  routerLink="cart" routerLinkActive="active">Cart</a>
      </li>
      <li class="nav-item l">
          <a class="nav-link" routerLink="admincart" routerLinkActive="active">Dasboard</a>
      </li>
      <li class="nav-item l">
          <a class="nav-link" routerLink="login" routerLinkActive="active">SignIn</a>
       </li>
       <li class="nav-item l">
        <a class="nav-link" routerLink="signup" routerLinkActive="active">SignUp</a>
     </li>
       <li class="nav-item l">
          <button class="btn btn-danger" > LogOut</button>
        </li>
    
     
    </ul>
   
  </div>
</nav>

</div>