<div class="my-2 w-25 cat">
    <app-selectlist  [data]="categories" [titel]="'Categories:'" (receivecategory)="selectcategory($event)"> </app-selectlist>
</div>

<div class="home" *ngIf="!loading">
    <div class="row">
        <div class="col col-12 col-md-6 col-lg-3" *ngFor="let good of  products ;index as i">           
            <app-product [data]="good"></app-product>           
        </div>
    </div>
</div>

<div style="text-align:center; margin: 500px;" class="text-center w-100" *ngIf="loading">
    <app-spinner></app-spinner>
</div>