        .box {
            width: 90%;
            margin:100px auto;
            height: 500px;
        }

    
       ul .li {
            font-size: 22px; 
            margin: 20px 0;
        }
        .i{
            width: 500px;
            height: 500px;
        }
        .img {
            width: 400px;
            max-height: 500px;
            min-height: 500px;
                }
.x{
    margin-left:200px ;
    margin-top: 130px;
    font-size: x-large;
    padding-bottom: 30px;
}