.formm{
    width: 500px;
    margin-left: 400px;
}

.h{
    margin-left: 550px;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 30px;
}

.sub{
   
    margin-left: 250px;
}
.p{
    margin-left: 200px;
    margin-top: 20px;
}